fschat
chardet
transformers>=4.39
accelerate
sentencepiece
protobuf
vllm==0.4.0
openai==0.28
tiktoken
natsort
datasets
bitsandbytes
wandb
scipy
tenacity
#  pydantic==2.7.2
#  vllm 0.4.0 requires transformers>=4.39.1, but you have transformers 4.37.1 which is incompatible.